<head>
    <link rel="stylesheet" href="../../resources/css/home.css">
</head>


<div class="hero">
    <video class="background-video" autoplay muted loop>
        <source src="../../resources/images/coolauro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="overlay"></div>


    <div class="hero-content">
        <h1 class="title">Welcome to Aurora.me</h1>
        <p class="subtitle">Connecting you with the celestial lights</p>
    {{#unless user}}
    <div class="buttons">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-secondary">Register</a>
    </div>
    {{/unless}}
    </div>
</div>